:root{
  --width: 720;
  --height: 1280;
}

body {
  position: relative;
  margin: 0;
}
  
.ui {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  transform: translate(-50%, -50%) scale(var(--scale, 0));
  transform-origin: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}

.border{
  border: 1px solid;
}

.bg-black{
  background-color: black;
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

ul{
  padding: 0;
  list-style: none;
}

li{
  padding: 1%;
}

p {
  word-break: break-all;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.close-btn{
  width: fit-content;
  margin-left: auto;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.name_tag{
  position: relative;
  width: fit-content;
  padding: 1%;
}

.control{
  float: right;
  margin-right: 1%;
}

.control > li{
  margin: 1.2rem 0;
  font-size: 1.5rem;
}

.option{
  width: 30%
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_colors/Relative_colors */
.option_disabled {
  background-color: rgb(from white 200 200 200);
}

.option > li{
  margin: 2rem 0;
  font-size: 1.5rem;
  color: black;
}

.dialogue_wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25%;
  font-size: 1.5rem;
  font-weight: 500;
  transform: translateY(-20%);
}

.dialogue{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 1%;
  overflow: hidden;
  overflow-y: scroll;
  transform: translateY(-5%);
}

.log{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* .log > button {
  float: right;
  margin-right: 1%;
} */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
